body{
    /* background-color: rgb(187, 187, 187); */
    scroll-behavior: smooth;
   overflow-x:hidden ;
}
.back{
   position: fixed;
   z-index: -1;
   height: 100%;
   width: 100%;
   opacity: 50%;
   filter: brightness(50%);
}
/* .main img:first */
.tagline{
    /* margin-left: 30%;
    margin-right: 30%; */
    text-align-last: justify;
   
   /* background-filter: opacity(30%); */
   
   color: rgb(2, 2, 2);
}

.tagline img{
    
    filter: opacity(20%);
    position: absolute;
    height: 70px;
    width: 1300px;
    z-index: -1;
    
}
.tagline h2 p {
    position: relative;
    z-index: 2;
    
    text-transform: capitalize;
}
.tagline h2::first-letter{
  color: red;
}

.same{
    text-transform: capitalize;
    border: 2px solid black;
    border-radius: 10px;
    filter: opacity(40%) ,brightness(40%);
}
.same ::first-letter{
    
    color: red;
    font-size: xxx-large;
}

.samep ::first-letter{
    font-size: xx-large;
}
.row{
    margin-left: 25%;
    align-items: center;
}
/* .footer{

        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        color: #666;
       height: 10px;
      

} */

.footer{
   
  left: 0;
  bottom: 0;
  width: 100%;
}